.g-container {
	display: grid;
	min-width: 1200px;
	max-width: 100%;
	height: 250px;
	grid-template-rows: 250px;
	grid-template-columns: 500px 1fr 2fr;
}

.g2-container {
	display: grid;
	/* width: 100%; */
	min-width: 1900px;
	height: 250px;
	grid-template-rows: 250px;
	grid-template-columns: 1.1fr 1fr 1fr;
}

/* .comment-container {
	width: 100px;
	height: 100px;
}
.comments {
	display: flex;
	width: 100px;
	height: 100px;
} */
