.follow-container {
	display: flex;
	flex-direction: row;
	max-width: 1300px;
	max-height: 570px;
	flex-wrap: wrap;
}

.profile-image {
	max-width: 128px;
	max-height: 128px;
}

.follow-button {
	border: none;
	font-size: 16px;
	cursor: pointer;
}

.follow-button:hover {
	color: darkgrey;
}
