/* #ChatBox
{box-sizing: border-box;} */

/* Button used to open the chat form - fixed at the bottom of the page */

.username {
	display: inline; /* Display username and time inline */
	font-weight: bold; /* Bold only the username */
	font-size: 17px;
}
.each-message {
	list-style: none;
	margin-bottom: 15px;
	font-size: 15px;
}

.user-info {
	display: flex;
	justify-content: space-between;
}

.username {
	font-weight: bold;
}

.time {
	font-size: 13px;
}

.chat-box-container {
	/* border: solid 1px darkgray; */
	background: #f1f1f1;
	min-height: 30px;
	padding: 15px;
	max-height: 400px; /* Adjust the maximum height as needed */
	overflow-y: auto; /* Enable vertical scrolling */
}

.open-pic {
	cursor: pointer;
	opacity: 0.8;
	position: fixed;
	bottom: 75px;
	right: 28px;
	width: 65px;
	z-index: 9999;
	transition: all 0.5s ease;
}
.open-button {
	background-color: #128fdc;
	color: white;
	padding: 16px 20px;
	border: none;
	cursor: pointer;
	opacity: 0.8;
	position: fixed;
	bottom: 75px;
	right: 28px;
	width: 280px;
	z-index: 9999;
}

/* The popup chat - hidden by default */
.form-popup {
	display: none;
	position: fixed;
	bottom: 75px;
	right: 28px;
	border: 3px solid #f1f1f1;
	z-index: 9999;
}

/* Add styles to the form container */
.form-container {
	max-width: 280px;
	padding: 10px;
	background-color: white;
	position: fixed;
	bottom: 60px;
	right: 18px;
	z-index: 9999;
}

/* Full-width textarea */
.form-container textarea {
	width: 90%;
	max-width: 250px;
	padding: 15px;
	margin: 5px 0 10px 0;
	border: none;
	background: #f1f1f1;
	resize: none;
	height: 15px;
	z-index: 9999;
}

/* When the textarea gets focus, do something */
.form-container textarea:focus {
	background-color: #ddd;
	outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
	background-color: #128fdc;
	color: white;
	padding: 16px 20px;
	border: none;
	cursor: pointer;
	width: 100%;
	margin-bottom: 10px;
	opacity: 0.8;
	z-index: 9999;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
	background-color: #979ea2;
}

/* Add some hover effects to buttons */
.form-container .btn:hover,
.open-button:hover {
	opacity: 1;
}
